@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --eco-green-500: #205521;
  --eco-green-400: #4b822e;
  --eco-green-300: #9dbc70;
  --eco-brown-500: #8f552f;
  --eco-pale-500: #e3c48d;
  --eco-light: #f9f6f3;
  --eco-mutated: #5e5e5e;
  --eco-black: #121212;

  --font-primary: "Manrope", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

body {
  background-color: var(--eco-light);
  color: var(--eco-black);
  font-family: var(--font-secondary);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: bold;
}

/* Custom utility classes for EcoGarden theme */
.bg-eco-light {
  background-color: var(--eco-light);
}
.bg-eco-green-500 {
  background-color: var(--eco-green-500);
}
.bg-eco-green-400 {
  background-color: var(--eco-green-400);
}
.bg-eco-green-300 {
  background-color: var(--eco-green-300);
}
.bg-eco-mutated {
  background-color: var(--eco-mutated);
}

.text-eco-light {
  color: var(--eco-light);
}
.text-eco-green-500 {
  color: var(--eco-green-500);
}
.text-eco-green-400 {
  color: var(--eco-green-400);
}
.text-eco-green-300 {
  color: var(--eco-green-300);
}
.text-eco-black {
  color: var(--eco-black);
}
.text-eco-mutated {
  color: var(--eco-mutated);
}

.font-primary {
  font-family: var(--font-primary);
}
.font-secondary {
  font-family: var(--font-secondary);
}

.hover-eco-green:hover {
  color: var(--eco-green-400);
}
.hover-eco-bg:hover {
  background-color: var(--eco-green-400);
  color: var(--eco-light);
}

.transition-colors {
  transition: color 0.3s, background-color 0.3s;
}

/* Tailwind CSS Font Sizes */

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}

.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}

.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}

/* Custom positioning for mobile menu */
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16rem;
  z-index: 1050;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-sidebar.show {
  transform: translateX(0);
}

a {
  text-decoration: none;
  color: var(--eco-black);
}
