$eco-green-500: #205521;
$eco-green-400: #4b822e;
$eco-green-300: #9dbc70;
$eco-brown-500: #8f552f;
$eco-pale-500: #e3c48d;
$eco-light: #f9f6f3;
$eco-mutated: #5e5e5e;
$eco-black: #121212;

$font-primary: "Manrope", sans-serif;
$font-secondary: "Inter", sans-serif;

$transition-fast: 0.15s;
$transition-normal: 0.3s;
$transition-slow: 0.5s;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1080px,
  xl: 1200px,
);